MQTT_HOST=localhost
MQTT_PORT=8883
MQTT_CA_FILE=../mosquitto/certs/ca.crt

DEVICE_USERNAME=replace-with-device-username
DEVICE_SECRET=replace-with-device-secret
CLASSROOM_ID=replace-with-classroom-id

MEASUREMENT_INTERVAL=60
MQTT_KEEPALIVE_SECONDS=60
MQTT_RECONNECT_SECONDS=5
BUFFER_SIZE=500
